<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Annotation</title>
</head>
<body>
<h1>少々お待ちください</h1>
<br>
<!--<a href={% url 'upload_form:list' %}>戻る</a>-->
<button type="button" onclick="history.go(-1)">戻る</button>
</body>
</html>