<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Smart Annotation</title>
</head>
<body>
<h1>{{label.file_name}}</h1>
    {% for key,value in bbox.items %}
        {% for k,v in bboxfilename.items %}
        {% if key ==  k   %}
        <img src="/static/signboard_VOC/bboxImages/{{ key }}" style="max-height:500px"/>
        {% endif %}
            {% endfor %}
<form action="{% url 'upload_form:vote' label.id %}" method="post">
{% csrf_token %}
{% for choice in label.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
{% endfor %}
<input type="submit" value="Vote" />
</form>
</ul>

</body>
</html>
