<!DOCTYPE html>
<html lang="en">
<head>
    <!--key=にgoogle map api keyを入力してください-->
    <script src="http://maps.google.com/maps/api/js?sensor=true&key="></script>
    <style>
        #map {
        width: 1200px;
        height: 600px;
    }
    #list
    {
        width: 100px;
  height: 100px;
  background-color: red;
  overflow: scroll;
    }</style>
    <meta charset="UTF-8">
    <title>Smart Annotation</title>
</head>
<body>
<b>注意事項：マウスダウンした時に看板と認識出来るものをラベル付けしてください。</b><br>
<b>Annotation回数</b><br>
{% for name,number in user.items %}

{{ name }}:{{ number }}
{% endfor %}
<br>
<a href={% url 'upload_form:input' %}>画像を追加</a>
<!--ここから地図を書きます。-->
<input type="button" id="sapporo" value="札幌" onclick="toSapporo()" />
<input type="button" id="sendai" value="仙台" onclick="toSendai()" />
<input type="button" id="tokyo" value="東京" onclick="toTokyo()" />
<input type="button" id="osaka" value="大阪" onclick="toOsaka()" />
<input type="button" id="hakata" value="博多" onclick="toHakata()" />
<input type="button" id="koube" value="神戸" onclick="toKoube()" />
<input type="button" id="saitama" value="埼玉" onclick="toSaitama()" />
<input type="button" id="shinyokohama" value="新横浜" onclick="toShinyokohama()" />
<input type="button" id="hiroshima" value="広島" onclick="toHiroshima()" />
<input type="button" id="kawasaki" value="川崎" onclick="toKawasaki()" />
<input type="button" id="shizuoka" value="静岡" onclick="toShizuoka()" />
<input type="button" id="fukushima" value="福島" onclick="toFukushima()" />
<input type="button" id="nara" value="奈良" onclick="toNara()" />
<input type="button" id="kyoto" value="京都" onclick="toKyoto()" />
<input type="button" onclick="map.setZoom(map.getZoom()+1);" value="＋" />
<input type="button" onclick="map.setZoom(map.getZoom()-1);" value="－" />
<div id="map"></div>
<!--<div id="list"></div>-->
<!--{% for name,obj in label.items %}
    <h1>{{ name }}</h1>
    <form action="{% url 'upload_form:vote' obj.id %}" method="post">
        {% csrf_token %}
        {% for choice in obj.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        {% endfor %}
        <input type="submit" value="Vote"/>
    </form>
    {% for b in bboxfilename %}

        {% if b ==  name %}
            <p><img src="/static/mapillary/sapporo/bboxImages/{{ b }}" style="max-height:500px"/></p>
        {% endif %}


    {% endfor %}
{% endfor %}-->



<script>
    var map = null;
    var infowindow = new google.maps.InfoWindow();

    function init() {

        //マップの初期状態を設定
        var option = {
            zoom: 5,
            center: new google.maps.LatLng(35.4093320,136.7566470),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDefaultUI: true
        };

        // 吹き出しを閉じる処理
        map = new google.maps.Map(document.getElementById("map"), option);
        google.maps.event.addListener(map, "click", function () {
            infowindow.close();
        });

        // 任意の位置にマーカーを追加
        {% for key, value in mapillary.items %}
            {% if value %}
                {% if value.bboxfilename %}
                    {% if value.geometry %}
                        /*var point = new google.maps.LatLng({{ value.geometry.coordinates.1 }}, {{ value.geometry.coordinates.0 }});

                        var marker = create_maker_change(point, "info", "<img src='{{ value.bboxfilename }}' style=\"max-height:400px\" /><br><p><form id = 'imagedata' method = 'post' name = 'form'>{% csrf_token %}<input type='hidden' name='imagedata' value='{{ value.bboxfilename }}'><input type='hidden' name='directorydata' value='{{ key }}'><input type='submit' value='修正'></form></p>");
                        */
                    {% endif %}
                {% else %}
                    var point = new google.maps.LatLng({{ value.geometry.coordinates.1 }}, {{ value.geometry.coordinates.0 }});
                    /*document.getElementById("list").innerHTML+= "<img src='{{ key }}' style=\"height:416px;width:416px\" /><br><p><form id = 'imagedata' method = 'post' name = 'form'>{% csrf_token %}<input type='hidden' name='imagedata' value='{{ key }}'><input type='hidden' name='directorydata' value='{{ key }}'><input type='submit' value='修正'></form></p>"*/
                    var marker = create_maker(point, "info", "<img src='{{ key }}' style=\"height:416px;width:416px\" /><br><p><form id = 'imagedata' method = 'post' name = 'form'>{% csrf_token %}<input type='hidden' name='imagedata' value='{{ key }}'><input type='hidden' name='directorydata' value='{{ key }}'><input type='submit' value='修正'></form></p>");
                {% endif %}
            {% endif %}
        {% endfor %}
    }

    function create_maker(latlng, label, html) {
        // マーカーを生成
        var marker = new google.maps.Marker({position: latlng, map: map, title: label});
        // マーカーをマウスオーバーした時の処理
        google.maps.event.addListener(marker, "mouseover", function () {
            infowindow.setContent(html);
            infowindow.open(map, marker);
        });
    }

    function create_maker_change(latlng, label, html) {
        // マーカーを生成
        var marker = new google.maps.Marker({
            position: latlng, map: map, title: label, icon: {
                url: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png',
                scaledSize: new google.maps.Size(40, 40)
            },
            optimized: false
        });
        // マーカーをマウスオーバーした時の処理
        google.maps.event.addListener(marker, "mouseover", function () {
            infowindow.setContent(html);
            infowindow.open(map, marker);
        });
    }
    function toSapporo() {
  map.panTo(new google.maps.LatLng(43.068661,141.350755));
  map.setZoom( 11 ) ;
}

function toSendai() {
  map.panTo(new google.maps.LatLng(38.260132,140.882438));
  map.setZoom( 16 ) ;
}

function toTokyo() {
  map.panTo(new google.maps.LatLng(35.681167,139.767052));
  map.setZoom( 12 ) ;
}

function toOsaka() {
  map.panTo(new google.maps.LatLng(34.702485,135.495951));
  map.setZoom( 16 ) ;
}

function toHakata() {
  map.panTo(new google.maps.LatLng(33.590045,130.420611));
  map.setZoom( 16 ) ;
}

 function toSaitama() {
  map.panTo(new google.maps.LatLng(35.906355,139.623066));
  map.setZoom( 16 ) ;
}

function toKawasaki() {
  map.panTo(new google.maps.LatLng(35.531365,139.696889));
  map.setZoom( 16 ) ;
}

function toShinyokohama() {
  map.panTo(new google.maps.LatLng(35.506808,139.617577));
  map.setZoom( 16 ) ;
}

function toHiroshima() {
  map.panTo(new google.maps.LatLng(34.397790,132.475340));
  map.setZoom( 16 ) ;
}

function toKoube() {
  map.panTo(new google.maps.LatLng(34.679767,135.177993));
  map.setZoom( 16 ) ;
}

function toNara() {
  map.panTo(new google.maps.LatLng(34.680993,135.819531));
  map.setZoom( 16 ) ;
}

function toShizuoka() {
  map.panTo(new google.maps.LatLng(34.972187,138.388900));
  map.setZoom( 16 ) ;
}

function toFukushima() {
  map.panTo(new google.maps.LatLng(37.754209,140.459613));
  map.setZoom( 16 ) ;
}

function toKyoto() {
  map.panTo(new google.maps.LatLng(34.985849,135.758767));
  map.setZoom( 16 ) ;
}
    google.maps.event.addDomListener(window, "load", init);

</script>

</body>
</html>