<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Annotation</title>
</head>
<body>
<h1>{{label.file_name}}</h1>

<ul>
{% for choice in label.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'upload_form:list'  %}">Vote again?</a>
</body>
</html>