<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <style>
            .thumb {
                max-width: 100%;
                height: auto;
            }
        </style>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Smart Annotation</title>
    </head>
    <body>

    <form id = 'labeldata' method = 'post' name = 'form'>
        {% csrf_token %}
        <input type="hidden" name="imagedata" value="">
        <input type='submit' accesskey="s" value='ラベル情報送信' onclick="savebboxImages();">
        <!--<button type="button" onclick="history.back()">戻る</button>-->
        <a href={% url 'upload_form:list' %}>戻る</a>
    </form>
        <p>
            <input type="button" accesskey="u" value="Undo" id="backBtn">
            <input type="button" accesskey="r" value="Redo" id="forwardBtn">
            <input type="button" accesskey="l" value="label" id="label">
        </p>
    <p>
    <h3>ラベル色</h3>
    <div id = "number">

    </div>
        <div id = "color">

        </div>
    <span>Myself</span></br>
    <span style="background-color:#ffff00;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </p>
        <p>
            <div id="wrapper">
            <output id="list"></output>
            </div>
        </p>
    </body>
    <script>
        var down = 0;
        var can_label = false;
        var touchstart = true;
        $('#label').click(function() {
            if (can_label) {
                can_label = false;
                document.getElementById("label").value = "label";
            } else {
                can_label = true;
                document.getElementById("label").value = "not label";
            }
        });

        // Loop through the FileList and render image files as thumbnails.
        var left = new Array();
        var top = new Array();
        var right = new Array();
        var bot = new Array();
        var imageMemory = new Array();
        // キャンバスのイメージの保存用配列
        var nowlabelMemory = new Array();
        nowlabelMemory[0] = new Array();
        nowlabelMemory[1] = new Array();
        nowlabelMemory[2] = new Array();
        nowlabelMemory[3] = new Array();
        var beforelabelMemory = new Array();
        beforelabelMemory[0] = new Array();
        beforelabelMemory[1] = new Array();
        beforelabelMemory[2] = new Array();
        beforelabelMemory[3] = new Array();
        var flagMemory = 0;
        // 現在のキャンバスの番号
        //$('#backBtn, #forwardBtn').attr('disabled', true);
        $('#forwardBtn').attr('disabled', true);

        // キャンバスを生成して，2d描画を指定
        var myCanvas = document.createElement("canvas");
        myCanvas.id = "canvas_id";
        var myContext = myCanvas.getContext('2d');

        // 読み込んだ画像がここに入る
        var myImage = new Image();

        // 最初のキャンバス状態を保存
        function saveImageDatafirst() {
            // 現在の状態を保存
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);

            nowlabelMemory[0][flagMemory] = 0;
            nowlabelMemory[1][flagMemory] = 0;
            nowlabelMemory[2][flagMemory] = 0;
            nowlabelMemory[3][flagMemory] = 0;
            beforelabelMemory[0][flagMemory] = 0;
            beforelabelMemory[1][flagMemory] = 0;
            beforelabelMemory[2][flagMemory] = 0;
            beforelabelMemory[3][flagMemory] = 0;
        }

        myImage.onload = function() {
            // 大きさの指定．あんまりスマートじゃないので要修正
            //var width = 3600;
            //var height = myImage.naturalHeight * width / myImage.naturalWidth;
            //"100%";
            var width = myImage.width;
            var height = myImage.height;

            // (4) Canvasにサイズアトリビュートを設定する
            myCanvas.setAttribute('width', width);
            myCanvas.setAttribute('height', height);
            // (5) 描画
            myContext.drawImage(myImage, 0, 0, width, height);
            saveImageDatafirst();
            /*{% if left1 %}
            draw_label_1(myCanvas);
            document.getElementById('number').innerHTML += "<span>1&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color1'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color1').style.backgroundColor = '#B28A7A';
            {% endif %}
            {% if left2 %}
            draw_label_2(myCanvas);
            document.getElementById('number').innerHTML += "<span>2&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color2'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color2').style.backgroundColor = '#5CFF00';
            {% endif %}
            {% if left3 %}
            draw_label_3(myCanvas);
            document.getElementById('number').innerHTML += "<span>3&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color3'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color3').style.backgroundColor = '#FF4900';
            {% endif %}
            {% if left4 %}
            draw_label_4(myCanvas);
            document.getElementById('number').innerHTML += "<span>4&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color4'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color4').style.backgroundColor = '#8E94CC';
            {% endif %}
            {% if left5 %}
            draw_label_5(myCanvas);
            document.getElementById('number').innerHTML += "<span>5&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color5'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color5').style.backgroundColor = '#0919B2';
            {% endif %}
            {% if left6 %}
            draw_label_6(myCanvas);
            document.getElementById('number').innerHTML += "<span>6&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color6'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color6').style.backgroundColor = '#82B2AB';
            {% endif %}
            {% if left7 %}
            draw_label_7(myCanvas);
            document.getElementById('number').innerHTML += "<span>7&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color7'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color7').style.backgroundColor = '#FD00FF';
            {% endif %}
            {% if left8 %}
            draw_label_8(myCanvas);
            document.getElementById('number').innerHTML += "<span>8&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color8'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color8').style.backgroundColor = '#00FFD6';
            {% endif %}
            {% if left9 %}
            draw_label_9(myCanvas);
            document.getElementById('number').innerHTML += "<span>9&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color9'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color9').style.backgroundColor = '#CCBE8D';
            {% endif %}
            {% if left10 %}
            draw_label_10(myCanvas);
            document.getElementById('number').innerHTML += "<span>10&nbsp;&nbsp;</span>"
            document.getElementById('color').innerHTML += "<span id = 'color10'>&nbsp;&nbsp;&nbsp;</span>&nbsp;";
            document.getElementById('color10').style.backgroundColor = '#B28D07';
            {% endif %}*/
            draw_label(myCanvas);
            $('#files').attr('disabled', true);
        };
        //var file_name = "{{ image }}"
        // 読み込んだ画像をimageのソースに設定
        <!--staticファイルの参照方法-->
        myImage.src = "{{ label_data.image }}";
        //staticファイルの指定

        document.getElementById('list').insertBefore(myCanvas, null);
        var br = document.createElement('br');
        document.getElementById('list').insertBefore(br, myCanvas);


            $('#label').click(function() {
                // "このキャンバス"に対するイベントを定義
                myCanvas.onclick = function (e) {
                    if (touchstart) {
                        if (can_label) {
                            if (e.changedTouches) {
                                startX = e.changedTouches[0].clientX;
                            } else {
                                startX = e.clientX;
                            }

                            if (e.changedTouches) {
                                startY = e.changedTouches[0].clientY;
                            } else {
                                startY = e.clientY;
                            }
                            var rect = e.target.getBoundingClientRect();
                            startabsoluteX = startX - rect.left;
                            startabsoluteY = startY - rect.top;
                            //console.log(startX);
                            //console.log(startY);
                            console.log('startX座標:',startabsoluteX);
                            console.log('startY座標:',startabsoluteY);
                            down = 1;
                            console.log("detected touch start event");
                            touchstart = false;
                        }
                    } else {
                        if (can_label) {
                            if (e.changedTouches) {
                                endX = e.changedTouches[0].clientX;
                            } else {
                                endX = e.clientX;
                            }

                            if (e.changedTouches) {
                                endY = e.changedTouches[0].clientY;
                            } else {
                                endY = e.clientY;
                            }
                            var rect = e.target.getBoundingClientRect();
                            endabsoluteX = endX - rect.left;
                            endabsoluteY = endY - rect.top;
                            //console.log(endX);
                            //console.log(endY);
                            console.log('endX座標:',endabsoluteX);
                            console.log('endY座標:',endabsoluteY);
                            console.log("detected touch end event");
                            draw(myCanvas, endabsoluteX, endabsoluteY);
                            touchstart = true;
                            down = 0;
                            saveImageData();
                        }
                    }
                };
            });


        // 現在のキャンバス状態を保存
        function saveImageData() {
            // 現在の状態を保存
            /*if (flagMemory == imageMemory.length - 1) {
                imageMemory.shift();
                //labelMemory.shift();
                //上怪しい
            } else {
                ++flagMemory;
            }*/
            ++flagMemory;

            if (flagMemory == imageMemory.length - 1) {
                $('#forwardBtn').attr('disabled', true);
            }

            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);

            nowlabelMemory[0][flagMemory] = startabsoluteX;
            nowlabelMemory[1][flagMemory] = startabsoluteY;
            nowlabelMemory[2][flagMemory] = endabsoluteX;
            nowlabelMemory[3][flagMemory] = endabsoluteY;
            beforelabelMemory[0][flagMemory] = startabsoluteX;
            beforelabelMemory[1][flagMemory] = startabsoluteY;
            beforelabelMemory[2][flagMemory] = endabsoluteX;
            beforelabelMemory[3][flagMemory] = endabsoluteY;
            console.log('startabsoluteX:%d, nowlabelMemory[0][flagMemory]:%d',startabsoluteX,nowlabelMemory[0][flagMemory]);
            console.log('flagMemory:%d',flagMemory);
            if (document.getElementsByName('left'+flagMemory)[0]) {
                document.getElementsByName('left' + flagMemory)[0].innerHTML = "<input type='hidden' name = 'left'>";
                document.getElementsByName('top' + flagMemory)[0].innerHTML = "<input type='hidden' name = 'top'>";
                document.getElementsByName('right' + flagMemory)[0].innerHTML = "<input type='hidden' name = 'right'>";
                document.getElementsByName('bot' + flagMemory)[0].innerHTML = "<input type='hidden' name = 'bot'>";
            }
            else {
                document.getElementById('labeldata').innerHTML += "<input type='hidden' name = 'left'><input type='hidden' name = 'top'><input type='hidden' name = 'right'><input type='hidden' name = 'bot'>";
            }

                document.getElementsByName('left')[0].value = nowlabelMemory[0][flagMemory];
                document.getElementsByName('top')[0].value = nowlabelMemory[1][flagMemory];
                document.getElementsByName('right')[0].value = nowlabelMemory[2][flagMemory];
                document.getElementsByName('bot')[0].value = nowlabelMemory[3][flagMemory];

                document.getElementsByName('left')[0].name = 'left' + flagMemory;
                document.getElementsByName('top')[0].name = 'top' + flagMemory;
                document.getElementsByName('right')[0].name = 'right' + flagMemory;
                document.getElementsByName('bot')[0].name = 'bot' + flagMemory;


            $('#backBtn').attr('disabled', false);
        }
        // 戻るボタン
        $('#backBtn').click(function() {
            if (flagMemory > 0) {
                console.log(flagMemory);
                flagMemory--;
                console.log(flagMemory);
                myContext.putImageData(imageMemory[flagMemory], 0, 0);

                /*nowlabelMemory[0][flagMemory+1] = 0;
                nowlabelMemory[1][flagMemory+1] = 0;
                nowlabelMemory[2][flagMemory+1] = 0;
                nowlabelMemory[3][flagMemory+1] = 0;

                document.getElementsByName('left'+(flagMemory+1))[0].value = nowlabelMemory[0][flagMemory+1];
                document.getElementsByName('top'+(flagMemory+1))[0].value = nowlabelMemory[1][flagMemory+1];
                document.getElementsByName('right'+(flagMemory+1))[0].value = nowlabelMemory[2][flagMemory+1];
                document.getElementsByName('bot'+(flagMemory+1))[0].value = nowlabelMemory[3][flagMemory+1];*/

                document.getElementsByName('left'+(flagMemory+1))[0].remove();
                document.getElementsByName('top'+(flagMemory+1))[0].remove();
                document.getElementsByName('right'+(flagMemory+1))[0].remove();
                document.getElementsByName('bot'+(flagMemory+1))[0].remove();

                $('#forwardBtn').attr('disabled', false);
                if (flagMemory == 0) {
                    $('#backBtn').attr('disabled', true);
                }
            }
        });
        // 進むボタン
        $('#forwardBtn').click(function() {
            if (flagMemory < imageMemory.length - 1) {
                flagMemory++;
                myContext.putImageData(imageMemory[flagMemory], 0, 0);
                /*nowlabelMemory[0][flagMemory] = beforelabelMemory[0][flagMemory];
                nowlabelMemory[1][flagMemory] = beforelabelMemory[1][flagMemory];
                nowlabelMemory[2][flagMemory] = beforelabelMemory[2][flagMemory];
                nowlabelMemory[3][flagMemory] = beforelabelMemory[3][flagMemory];

                if (document.getElementsByName('left'+ flagMemory)[0]) {
                    document.getElementsByName('left' + flagMemory)[0].value = nowlabelMemory[0][flagMemory];
                    document.getElementsByName('top' + flagMemory)[0].value = nowlabelMemory[1][flagMemory];
                    document.getElementsByName('right' + flagMemory)[0].value = nowlabelMemory[2][flagMemory];
                    document.getElementsByName('bot' + flagMemory)[0].value = nowlabelMemory[3][flagMemory];
                }
                else{
                    document.getElementById('labeldata').innerHTML += "<input type='hidden' name = 'left'><input type='hidden' name = 'top'><input type='hidden' name = 'right'><input type='hidden' name = 'bot'>";
                    document.getElementsByName('left')[0].value = nowlabelMemory[0][flagMemory];
                    document.getElementsByName('top')[0].value = nowlabelMemory[1][flagMemory];
                    document.getElementsByName('right')[0].value = nowlabelMemory[2][flagMemory];
                    document.getElementsByName('bot')[0].value = nowlabelMemory[3][flagMemory];

                    document.getElementsByName('left')[0].name = 'left' + flagMemory;
                    document.getElementsByName('top')[0].name = 'top' + flagMemory;
                    document.getElementsByName('right')[0].name = 'right' + flagMemory;
                    document.getElementsByName('bot')[0].name = 'bot' + flagMemory;
                }*/
                document.getElementById('labeldata').innerHTML += "<input type='hidden' name = 'left'><input type='hidden' name = 'top'><input type='hidden' name = 'right'><input type='hidden' name = 'bot'>";
                document.getElementsByName('left')[0].value = nowlabelMemory[0][flagMemory];
                document.getElementsByName('top')[0].value = nowlabelMemory[1][flagMemory];
                document.getElementsByName('right')[0].value = nowlabelMemory[2][flagMemory];
                document.getElementsByName('bot')[0].value = nowlabelMemory[3][flagMemory];

                document.getElementsByName('left')[0].name = 'left' + flagMemory;
                document.getElementsByName('top')[0].name = 'top' + flagMemory;
                document.getElementsByName('right')[0].name = 'right' + flagMemory;
                document.getElementsByName('bot')[0].name = 'bot' + flagMemory;
                $('#backBtn').attr('disabled', false);
                if (flagMemory == imageMemory.length - 1) {
                    $('#forwardBtn').attr('disabled', true);
                }
            }

        });

        // 四角形を描きます
        function draw(targetCanvas, x, y) {
            var context = targetCanvas.getContext('2d');

            context.strokeStyle = '#ffff00';
            // 線の太さを指定
            context.lineWidth = 4;

            context.strokeRect(startabsoluteX, startabsoluteY, x - startabsoluteX, y - startabsoluteY);
            if (down == 1) {
                context.beginPath();

            }

        }

        function draw_label(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            var number = 0;
            context.strokeStyle = '#FF0000';
            // 線の太さを指定
            context.lineWidth = 4;

            {% for k, v in label_data.items %}
                {% if k == "image" %}
                var {{ k }} = "{{ v }}";
                {% else %}
                var {{ k }} = {{ v }};
                {% endif %}
            {% endfor %}
            while(left[number]>-1) {
                console.log(number);
                console.log('x座標:%d', parseInt(left[number]));
                console.log('y座標:%d', parseInt(top[number]));
                console.log('width:%d', parseInt(right[number]) - parseInt(left[number]));
                console.log('height:%d', parseInt(bot[number]) - parseInt(top[number]));
                context.strokeRect(parseInt(left[number]), parseInt(top[number]), parseInt(right[number]) - parseInt(left[number]), parseInt(bot[number]) - parseInt(top[number]));
                if (down == 1) {
                    context.beginPath();

                }


                nowlabelMemory[0][flagMemory] = left[number];
                nowlabelMemory[1][flagMemory] = top[number];
                nowlabelMemory[2][flagMemory] = right[number];
                nowlabelMemory[3][flagMemory] = bot[number];
                beforelabelMemory[0][flagMemory] = left[number];
                beforelabelMemory[1][flagMemory] = top[number];
                beforelabelMemory[2][flagMemory] = right[number];
                beforelabelMemory[3][flagMemory] = bot[number];


                document.getElementById('labeldata').innerHTML += "<input type='hidden' name = 'left'><input type='hidden' name = 'top'><input type='hidden' name = 'right'><input type='hidden' name = 'bot'>";
                document.getElementsByName('left')[0].value = left[number];
                document.getElementsByName('top')[0].value = top[number];
                document.getElementsByName('right')[0].value = right[number];
                document.getElementsByName('bot')[0].value = bot[number];

                document.getElementsByName('left')[0].name = 'left' + (number + 1);
                document.getElementsByName('top')[0].name = 'top' + (number + 1);
                document.getElementsByName('right')[0].name = 'right' + (number + 1);
                document.getElementsByName('bot')[0].name = 'bot' + (number + 1);
                number++;
                console.log(number);
                flagMemory++;
                imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
            }

        }
        function draw_label_1(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#B28A7A';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('1つ目のラベル');
            console.log('x座標:%d', parseInt({{ left1 }}));
            console.log('y座標:%d', parseInt({{ top1 }}));
            console.log('width:%d', parseInt({{ right1 }}) - parseInt({{ left1 }}));
            console.log('height:%d', parseInt({{ bot1 }}) - parseInt({{ top1 }}));
            context.strokeRect(parseInt({{ left1 }}), parseInt({{ top1 }}), parseInt({{ right1 }}) - parseInt({{ left1 }}), parseInt({{ bot1 }}) - parseInt({{ top1 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
            {% if left1 %}
            nowlabelMemory[0][flagMemory] = {{ left1 }};
            nowlabelMemory[1][flagMemory] = {{ top1 }};
            nowlabelMemory[2][flagMemory] = {{ right1 }};
            nowlabelMemory[3][flagMemory] = {{ bot1 }};
            beforelabelMemory[0][flagMemory] = {{ left1 }};
            beforelabelMemory[1][flagMemory] = {{ top1 }};
            beforelabelMemory[2][flagMemory] = {{ right1 }};
            beforelabelMemory[3][flagMemory] = {{ bot1 }};
            {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left1' ><input type='hidden' name='top1'><input type='hidden' name='right1'><input type='hidden' name='bot1'>";
            document.getElementsByName('left1')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top1')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right1')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot1')[0].value = nowlabelMemory[3][flagMemory];
            {% if left2 %}
            flagMemory++
            {% endif %}
        }

        function draw_label_2(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#5CFF00';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('2つ目のラベル');
            console.log('x座標:%d', parseInt({{ left2 }}));
            console.log('y座標:%d', parseInt({{ top2 }}));
            console.log('width:%d', parseInt({{ right2 }}) - parseInt({{ left2 }}));
            console.log('height:%d', parseInt({{ bot2 }}) - parseInt({{ top2 }}));
            context.strokeRect(parseInt({{ left2 }}), parseInt({{ top2 }}), parseInt({{ right2 }}) - parseInt({{ left2 }}), parseInt({{ bot2 }}) - parseInt({{ top2 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
            {% if left2 %}
            nowlabelMemory[0][flagMemory] = {{ left2 }};
            nowlabelMemory[1][flagMemory] = {{ top2 }};
            nowlabelMemory[2][flagMemory] = {{ right2 }};
            nowlabelMemory[3][flagMemory] = {{ bot2 }};
            beforelabelMemory[0][flagMemory] = {{ left2 }};
            beforelabelMemory[1][flagMemory] = {{ top2 }};
            beforelabelMemory[2][flagMemory] = {{ right2 }};
            beforelabelMemory[3][flagMemory] = {{ bot2 }};
            {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left2'><input type='hidden' name='top2'><input type='hidden' name='right2'><input type='hidden' name='bot2'>";
            document.getElementsByName('left2')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top2')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right2')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot2')[0].value = nowlabelMemory[3][flagMemory];
            {% if left3 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_3(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#FF4900';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('3つ目のラベル');
            console.log('x座標:%d',parseInt({{ left3 }}));
            console.log('y座標:%d',parseInt({{ top3 }}));
            console.log('width:%d',parseInt({{ right3 }}) - parseInt({{ left3 }}));
            console.log('height:%d',parseInt({{ bot3 }}) - parseInt({{ top3 }}));
            context.strokeRect(parseInt({{ left3 }}), parseInt({{ top3 }}), parseInt({{ right3 }}) - parseInt({{ left3 }}), parseInt({{ bot3 }}) - parseInt({{ top3 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left3 %}
                nowlabelMemory[0][flagMemory] = {{ left3 }};
                nowlabelMemory[1][flagMemory] = {{ top3 }};
                nowlabelMemory[2][flagMemory] = {{ right3 }};
                nowlabelMemory[3][flagMemory] = {{ bot3 }};
                beforelabelMemory[0][flagMemory] = {{ left3 }};
                beforelabelMemory[1][flagMemory] = {{ top3 }};
                beforelabelMemory[2][flagMemory] = {{ right3 }};
                beforelabelMemory[3][flagMemory] = {{ bot3 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left3'><input type='hidden' name='top3'><input type='hidden' name='right3'><input type='hidden' name='bot3'>";
            document.getElementsByName('left3')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top3')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right3')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot3')[0].value = nowlabelMemory[3][flagMemory];
             {% if left4 %}
            flagMemory++
            {% endif %}
        }
        function draw_label_4(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#8E94CC';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('4つ目のラベル');
            console.log('x座標:%d',parseInt({{ left4 }}));
            console.log('y座標:%d',parseInt({{ top4 }}));
            console.log('width:%d',parseInt({{ right4 }}) - parseInt({{ left4 }}));
            console.log('height:%d',parseInt({{ bot4 }}) - parseInt({{ top4 }}));
            context.strokeRect(parseInt({{ left4 }}), parseInt({{ top4 }}), parseInt({{ right4 }}) - parseInt({{ left4 }}), parseInt({{ bot4 }}) - parseInt({{ top4 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left4 %}
                nowlabelMemory[0][flagMemory] = {{ left4 }};
                nowlabelMemory[1][flagMemory] = {{ top4 }};
                nowlabelMemory[2][flagMemory] = {{ right4 }};
                nowlabelMemory[3][flagMemory] = {{ bot4 }};
                beforelabelMemory[0][flagMemory] = {{ left4 }};
                beforelabelMemory[1][flagMemory] = {{ top4 }};
                beforelabelMemory[2][flagMemory] = {{ right4 }};
                beforelabelMemory[3][flagMemory] = {{ bot4 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left4'><input type='hidden' name='top4'><input type='hidden' name='right4'><input type='hidden' name='bot4'>";
            document.getElementsByName('left4')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top4')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right4')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot4')[0].value = nowlabelMemory[3][flagMemory];
             {% if left5 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_5(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#0919B2';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('5つ目のラベル');
            console.log('x座標:%d',parseInt({{ left5 }}));
            console.log('y座標:%d',parseInt({{ top5 }}));
            console.log('width:%d',parseInt({{ right5 }}) - parseInt({{ left5 }}));
            console.log('height:%d',parseInt({{ bot5 }}) - parseInt({{ top5 }}));
            context.strokeRect(parseInt({{ left5 }}), parseInt({{ top5 }}), parseInt({{ right5 }}) - parseInt({{ left5 }}), parseInt({{ bot5 }}) - parseInt({{ top5 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left5 %}
                nowlabelMemory[0][flagMemory] = {{ left5 }};
                nowlabelMemory[1][flagMemory] = {{ top5 }};
                nowlabelMemory[2][flagMemory] = {{ right5 }};
                nowlabelMemory[3][flagMemory] = {{ bot5 }};
                beforelabelMemory[0][flagMemory] = {{ left5 }};
                beforelabelMemory[1][flagMemory] = {{ top5 }};
                beforelabelMemory[2][flagMemory] = {{ right5 }};
                beforelabelMemory[3][flagMemory] = {{ bot5 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left5'><input type='hidden' name='top5'><input type='hidden' name='right5'><input type='hidden' name='bot5'>";
            document.getElementsByName('left5')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top5')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right5')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot5')[0].value = nowlabelMemory[3][flagMemory];
             {% if left6 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_6(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#82B2AB';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('6つ目のラベル');
            console.log('x座標:%d',parseInt({{ left6 }}));
            console.log('y座標:%d',parseInt({{ top6 }}));
            console.log('width:%d',parseInt({{ right6 }}) - parseInt({{ left6 }}));
            console.log('height:%d',parseInt({{ bot6 }}) - parseInt({{ top6 }}));
            context.strokeRect(parseInt({{ left6 }}), parseInt({{ top6 }}), parseInt({{ right6 }}) - parseInt({{ left6 }}), parseInt({{ bot6 }}) - parseInt({{ top6 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left6 %}
                nowlabelMemory[0][flagMemory] = {{ left6 }};
                nowlabelMemory[1][flagMemory] = {{ top6 }};
                nowlabelMemory[2][flagMemory] = {{ right6 }};
                nowlabelMemory[3][flagMemory] = {{ bot6 }};
                beforelabelMemory[0][flagMemory] = {{ left6 }};
                beforelabelMemory[1][flagMemory] = {{ top6 }};
                beforelabelMemory[2][flagMemory] = {{ right6 }};
                beforelabelMemory[3][flagMemory] = {{ bot6 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left6'><input type='hidden' name='top6'><input type='hidden' name='right6'><input type='hidden' name='bot6'>";
            document.getElementsByName('left6')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top6')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right6')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot6')[0].value = nowlabelMemory[3][flagMemory];
             {% if left7 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_7(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#FD00FF';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('7つ目のラベル');
            console.log('x座標:%d',parseInt({{ left7 }}));
            console.log('y座標:%d',parseInt({{ top7 }}));
            console.log('width:%d',parseInt({{ right7 }}) - parseInt({{ left7 }}));
            console.log('height:%d',parseInt({{ bot7 }}) - parseInt({{ top7 }}));
            context.strokeRect(parseInt({{ left7 }}), parseInt({{ top7 }}), parseInt({{ right7 }}) - parseInt({{ left7 }}), parseInt({{ bot7 }}) - parseInt({{ top7 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left7 %}
                nowlabelMemory[0][flagMemory] = {{ left7 }};
                nowlabelMemory[1][flagMemory] = {{ top7 }};
                nowlabelMemory[2][flagMemory] = {{ right7 }};
                nowlabelMemory[3][flagMemory] = {{ bot7 }};
                beforelabelMemory[0][flagMemory] = {{ left7 }};
                beforelabelMemory[1][flagMemory] = {{ top7 }};
                beforelabelMemory[2][flagMemory] = {{ right7 }};
                beforelabelMemory[3][flagMemory] = {{ bot7 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left7'><input type='hidden' name='top7'><input type='hidden' name='right7'><input type='hidden' name='bot7'>";
            document.getElementsByName('left7')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top7')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right7')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot7')[0].value = nowlabelMemory[3][flagMemory];
             {% if left8 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_8(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#00FFD6';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('8つ目のラベル');
            console.log('x座標:%d',parseInt({{ left8 }}));
            console.log('y座標:%d',parseInt({{ top8 }}));
            console.log('width:%d',parseInt({{ right8 }}) - parseInt({{ left8 }}));
            console.log('height:%d',parseInt({{ bot8 }}) - parseInt({{ top8 }}));
            context.strokeRect(parseInt({{ left8 }}), parseInt({{ top8 }}), parseInt({{ right8 }}) - parseInt({{ left8 }}), parseInt({{ bot8 }}) - parseInt({{ top8 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left8 %}
                nowlabelMemory[0][flagMemory] = {{ left8 }};
                nowlabelMemory[1][flagMemory] = {{ top8 }};
                nowlabelMemory[2][flagMemory] = {{ right8 }};
                nowlabelMemory[3][flagMemory] = {{ bot8 }};
                beforelabelMemory[0][flagMemory] = {{ left8 }};
                beforelabelMemory[1][flagMemory] = {{ top8 }};
                beforelabelMemory[2][flagMemory] = {{ right8 }};
                beforelabelMemory[3][flagMemory] = {{ bot8 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left8'><input type='hidden' name='top8'><input type='hidden' name='right8'><input type='hidden' name='bot8'>";
            document.getElementsByName('left8')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top8')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right8')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot8')[0].value = nowlabelMemory[3][flagMemory];
             {% if left9 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_9(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#CCBE8D';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('9つ目のラベル');
            console.log('x座標:%d',parseInt({{ left9 }}));
            console.log('y座標:%d',parseInt({{ top9 }}));
            console.log('width:%d',parseInt({{ right9 }}) - parseInt({{ left9 }}));
            console.log('height:%d',parseInt({{ bot9 }}) - parseInt({{ top9 }}));
            context.strokeRect(parseInt({{ left9 }}), parseInt({{ top9 }}), parseInt({{ right9 }}) - parseInt({{ left9 }}), parseInt({{ bot9 }}) - parseInt({{ top9 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left9 %}
                nowlabelMemory[0][flagMemory] = {{ left9 }};
                nowlabelMemory[1][flagMemory] = {{ top9 }};
                nowlabelMemory[2][flagMemory] = {{ right9 }};
                nowlabelMemory[3][flagMemory] = {{ bot9 }};
                beforelabelMemory[0][flagMemory] = {{ left9 }};
                beforelabelMemory[1][flagMemory] = {{ top9 }};
                beforelabelMemory[2][flagMemory] = {{ right9 }};
                beforelabelMemory[3][flagMemory] = {{ bot9 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left9'><input type='hidden' name='top9'><input type='hidden' name='right9'><input type='hidden' name='bot9'>";
            document.getElementsByName('left9')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top9')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right9')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot9')[0].value = nowlabelMemory[3][flagMemory];
             {% if left10 %}
            flagMemory++
            {% endif %}
        }
         function draw_label_10(targetCanvas) {
            var context = targetCanvas.getContext('2d');
            context.strokeStyle = '#B28D07';
            // 線の太さを指定
            context.lineWidth = 4;
            console.log('10個目のラベル');
            console.log('x座標:%d',parseInt({{ left10 }}));
            console.log('y座標:%d',parseInt({{ top10 }}));
            console.log('width:%d',parseInt({{ right10 }}) - parseInt({{ left10 }}));
            console.log('height:%d',parseInt({{ bot10 }}) - parseInt({{ top10 }}));
            context.strokeRect(parseInt({{ left10 }}), parseInt({{ top10 }}), parseInt({{ right10 }}) - parseInt({{ left10 }}), parseInt({{ bot10 }}) - parseInt({{ top10 }}));
            if (down == 1) {
                context.beginPath();

            }
            imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);
             {% if left10 %}
                nowlabelMemory[0][flagMemory] = {{ left10 }};
                nowlabelMemory[1][flagMemory] = {{ top10 }};
                nowlabelMemory[2][flagMemory] = {{ right10 }};
                nowlabelMemory[3][flagMemory] = {{ bot10 }};
                beforelabelMemory[0][flagMemory] = {{ left10 }};
                beforelabelMemory[1][flagMemory] = {{ top10 }};
                beforelabelMemory[2][flagMemory] = {{ right10 }};
                beforelabelMemory[3][flagMemory] = {{ bot10 }};
             {% endif %}
            document.getElementById('labeldata').innerHTML += "<input type='hidden' name='left10'><input type='hidden' name='top10'><input type='hidden' name='right10'><input type='hidden' name='bot10'>";
            document.getElementsByName('left10')[0].value = nowlabelMemory[0][flagMemory];
            document.getElementsByName('top10')[0].value = nowlabelMemory[1][flagMemory];
            document.getElementsByName('right10')[0].value = nowlabelMemory[2][flagMemory];
            document.getElementsByName('bot10')[0].value = nowlabelMemory[3][flagMemory];
             {% if left11 %}
            flagMemory++
            {% endif %}
        }
        function savebboxImages()
        {
            var canvas = document.getElementById('canvas_id');
            var image_data = canvas.toDataURL("image/jpeg");
            console.log(canvas.toDataURL("image/jpeg"));
            image_data = image_data.replace(/^.*,/, '');
            console.log(image_data);
            var form = document.form;
            form.imagedata.value = image_data;
            form.submit();
        }
    </script>
</html>
