<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <style>
            .thumb {
                max-width: 100%;
                height: auto;
            }
        </style>
        <meta name="viewport" content="content">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Smart Annotation</title>
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="files" name="myfile">
            <input type="submit" value="アップロード">
            <button type="button" onclick="location.reload()">戻る</button>
        </form>
        <!--<p>

            <input type="button" value="Undo" id="backBtn">
            <input type="button" value="Redo" id="forwardBtn">
            <input type="button" value="label" id="label">
        </p>-->
        <p>
            <output id="list"></output>
        </p>
    </body>
    <script>
        var down = 0;
        var can_label = false;
        var touchstart = true;
        $('#label').click(function() {
            if (can_label) {
                can_label = false;
                document.getElementById("label").value = "label";
            } else {
                can_label = true;
                document.getElementById("label").value = "not label";
            }
        });

        function handleFileSelect(evt) {
            var files = evt.target.files;

            // FileList object

            // Loop through the FileList and render image files as thumbnails.
            for (var i = 0, f; f = files[i]; i++) {

                // Only process image files.
                if (!f.type.match('image.*')) {
                    continue;
                }

                var imageMemory = new Array(5);
                // キャンバスのイメージの保存用配列
                var flagMemory = 0;
                // 現在のキャンバスの番号
                $('#backBtn, #forwardBtn').attr('disabled', true);

                // キャンバスを生成して，2d描画を指定
                var myCanvas = document.createElement("canvas");
                var myContext = myCanvas.getContext('2d');

                // 読み込んだ画像がここに入る
                var myImage = new Image();

                var reader = new FileReader();

                // 最初のキャンバス状態を保存
                function saveImageDatafirst() {
                    // 現在の状態を保存
                    imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);

                }

                // Closure to capture the file information.
                reader.onload = function(event) {
                    myImage.onload = function() {
                        // 大きさの指定．あんまりスマートじゃないので要修正
                        var width = 360
                        var height = myImage.naturalHeight * width / myImage.naturalWidth;
                        //"100%";

                        // (4) Cnavasにサイズアトリビュートを設定する
                        myCanvas.setAttribute('width', width);
                        myCanvas.setAttribute('height', height);
                        // (5) 描画
                        myContext.drawImage(myImage, 0, 0, width, height);
                        saveImageDatafirst();
                        $('#files').hide();
                    }

                    // 読み込んだ画像をimageのソースに設定
                    myImage.src = event.target.result;

                    $('#label').click(function() {

                        // "このキャンバス"に対するイベントを定義

                        myCanvas.onclick = function(e) {
                            if (touchstart) {

                                if (can_label) {

                                    if (e.changedTouches) {
                                        startX = e.changedTouches[0].clientX;
                                    } else {
                                        startX = e.clientX;
                                    }

                                    if (e.changedTouches) {
                                        startY = e.changedTouches[0].clientY;
                                    } else {
                                        startY = e.clientY;
                                    }
                                    var rect = e.target.getBoundingClientRect();
                                    startabsoluteX = startX - rect.left;
                                    startabsoluteY = startY - rect.top;
                                    console.log(startX);
                                    console.log(startY);
                                    console.log(startabsoluteX);
                                    console.log(startabsoluteY);
                                    down = 1;
                                    console.log("detected touch start event");
                                    touchstart = false;

                                } else {}
                            } else {

                                if (can_label) {
                                    if (e.changedTouches) {
                                        endX = e.changedTouches[0].clientX;
                                    } else {
                                        endX = e.clientX;
                                    }

                                    if (e.changedTouches) {
                                        endY = e.changedTouches[0].clientY;
                                    } else {
                                        endY = e.clientY;
                                    }
                                    var rect = e.target.getBoundingClientRect();
                                    endabsoluteX = endX - rect.left;
                                    endabsoluteY = endY - rect.top;
                                    console.log(endX);
                                    console.log(endY);
                                    console.log(endabsoluteX);
                                    console.log(endabsoluteY);
                                    console.log("detected touch end event");
                                    draw(myCanvas, endabsoluteX, endabsoluteY);
                                    touchstart = true;
                                    down = 0;
                                    saveImageData();
                                } else {}
                            }
                        }

                        /*
                    // ドラッグ中のイベント
                    myCanvas.onmousemove = function(e) {
                        if (down == 1) {
                            var endX = e.pageX;
                            var endY = e.pageY;

                            console.log("detected mouse move event");
                            draw(myCanvas, endX, endY);
                        }
                    }

                    myCanvas.ontouchmove = function(e) {
                        if (down == 1) {
                            var endX = e.pageX;
                            var endY = e.pageY;

                            console.log("detected touch move event");
                            draw(myCanvas, endX, endY);
                        }
                    }
                    */

                    });

                    // 現在のキャンバス状態を保存
                    function saveImageData() {
                        // 現在の状態を保存
                        if (flagMemory == imageMemory.length - 1) {
                            imageMemory.shift();
                        } else {
                            ++flagMemory;
                        }

                        if (flagMemory == imageMemory.length - 1) {
                            $('#forwardBtn').attr('disabled', true);
                        }

                        imageMemory[flagMemory] = myContext.getImageData(0, 0, myCanvas.width, myCanvas.height);

                        $('#backBtn').attr('disabled', false);
                    }
                    // 戻るボタン
                    $('#backBtn').click(function() {
                        if (flagMemory > 0) {
                            flagMemory--;
                            myContext.putImageData(imageMemory[flagMemory], 0, 0);

                            $('#forwardBtn').attr('disabled', false);
                            if (flagMemory == 0) {
                                $('#backBtn').attr('disabled', true);
                            }
                        }
                    });
                    // 進むボタン
                    $('#forwardBtn').click(function() {
                        if (flagMemory < imageMemory.length - 1) {
                            flagMemory++;
                            myContext.putImageData(imageMemory[flagMemory], 0, 0);

                            $('#backBtn').attr('disabled', false);
                            if (flagMemory == imageMemory.length - 1) {
                                $('#forwardBtn').attr('disabled', true);
                            }
                        }

                    });

                    document.getElementById('list').insertBefore(myCanvas, null);
                    var br = document.createElement('br');
                    document.getElementById('list').insertBefore(br, myCanvas);
                }

                // Read in the image file as a data URL.
                reader.readAsDataURL(f);
            }
        }

        // 四角形を描きます
        function draw(targetCanvas, x, y) {
            var context = targetCanvas.getContext('2d');

            context.strokeStyle = '#FF0000';
            // 線の太さを指定
            context.lineWidth = 4;

            context.strokeRect(startabsoluteX, startabsoluteY, x - startabsoluteX, y - startabsoluteY);
            if (down == 1) {
                context.beginPath();

            }

        }

        document.getElementById('files').addEventListener('change', handleFileSelect, false);
    </script>
</html>
