<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'upload_form:accounts:login' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors.username }}
    {{ form.username }}
    {{ form.errors.password }}
    {{ form.password }}
    <input type="submit" value="Login">
    <br>Username &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Password
</form>
<!--<button type="button" onclick="location.href='{% url 'social:begin' 'twitter' %}'">Twitter</button>-->
<button type="button" onclick="location.href='{% url 'accounts:new' %}'">アカウント作成画面へ</button>
</body>
</html>