<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'accounts:create' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.errors.username }}
    {{ form.username }}
    {{ form.errors.password1 }}
    {{ form.password1 }}
    {{ form.errors.password2 }}
    {{ form.password2 }}
    {{ form.errors.email }}
    {{ form.email }}
    <input type="submit" value="Create">
    <br>Username &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Password &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Re-password
</form>
</body>
</html>